* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}

li {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrap {
    width: 100%;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.header:hover {
    background-color: #1c6cb2;
    color: white;
}

.headcontainer {
    width: 1320px;
    display: flex;
    justify-content: center;
}

.logo {
    width: 300px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
}

.nav {
    width: 1020px;
    display: flex;
    align-items: center;
}

.menu {
    position: relative;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.menu > li {
    position: relative;
    padding: 5px 20px;
    height: 70px;
}

.menu > li::after {
    position: absolute;
    content: "";
    top: 18px;
    right: 0;
    width: 0;
    height: 10px;
    border: 1px solid #3a3a3a;
}

.menu > li:hover::after {
    border-color: white;
}

.menu > li > span {
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.submenu {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 0;
    text-align: center;
    line-height: 50px;
    background-color: #e0e0e0;
    color: #3a3a3a;
    transition: 0.5s;
    overflow: hidden;
    border-left: 5px solid #3a3a3a;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.submenu a {
    font-size: 15px;
    font-weight: bold;
}

.menu:hover .submenu {
    visibility: visible;
    height: 300px;
    transition: 0.5s;
}