* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    font-family: 견고딕;
}

li {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrap {
    width: 100%;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    z-index: 3;
}

.header_container {
    width: 1320px;
    height: 160px;
}

.desktop {
    position: relative;
    width: 100%;
    height: 35px;
    /* background-color: lightblue; */
    display: flex;
    justify-content: right;
}

.currency_unit {
    width: 100px;
    height: 35px;
    margin-right: 20px;
    background-color: inherit;
    border: none;
}

.box {
    position: absolute;
    top: 35px;
    right: 80px;
    width: 200px;
    height: 200px;
    border: 1px solid #cecece;
    background-color: white;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    overflow-y: scroll;
    transition: 0.4s;
    transform: scaleY(0);
    transform-origin: top;
    z-index: 2;
}

.box p {
    font-size: 19px;
    font-weight: bold;
    color: #7a7a7a;
    line-height: 50px;
    padding-left: 10px;
    cursor: pointer;
}

.box p:hover {
    background-color: #cecece;
}

.language {
    width: 60px;
    height: 35px;
    background-color: inherit;
    border: none;
}

.lang-box {
    position: absolute;
    top: 35px;
    right: 0;
    width: 100px;
    height: 130px;
    border: 1px solid #cecece;
    background-color: white;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
    transform: scaleY(0);
    transform-origin: top;
    z-index: 2;
}

.lang-box p {
    font-size: 19px;
    color: #7a7a7a;
    line-height: 40px;
    padding-left: 10px;
    cursor: pointer;
}

.lang-box p:hover {
    background-color: #cecece;
}

.desktop span {
    color: #616161;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

.middle {
    width: 100%;
    height: 70px;
    display: flex;
}

.logo {
    width: 720px;
    height: 70px;
    /* background-color: lightblue; */
    line-height: 70px;
    padding-left: 20px;
}

.logo h1 {
    font-family: Century Gothic;
    font-weight: 200;
}

.nav {
    width: 300px;
    /* background-color: lightpink; */
    display: flex;
    align-items: center;
}

.nav > ul {
    display: flex;
}

.nav > ul > li {
    width: 100px;
    text-align: center;
    font-weight: bold;
}

.nav > ul > li > a {
    cursor: pointer;
}

.local {
    position: relative;
    margin-left: 50px;
    width: 250px;
    height: 70px;
    /* background-color: lightgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.local::before {
    position: absolute;
    content: "";
    top: 25px;
    left: 0;
    width: 0;
    height: 20px;
    border: 1px solid #6d6d6d;
}

.local a {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
}

.local a svg, mask, path {
    cursor: pointer;
}

.main_menu {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
}

.category {
    width: 600px;
    height: 55px;
    color: black;
    display: flex;
    align-items: center;
}

.cond {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cond > li {
    position: relative;
    text-align: center;
    line-height: 40px;
    margin: 0 20px;
    cursor: pointer;
}

.cond > li > a {
    cursor: pointer;
    font-weight: bold;
}

.cond > li:hover {
    color: #f83baa;
}

.cond > li::after {
    position: absolute;
    content: "";
    top: 40px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #f83baa;
    overflow: hidden;
    transform: scaleX(0);
    transition: 0.3s;
}

.cond > li:nth-child(2)::after {
    background-color: black;
}

.cond > li:nth-child(4)::after {
    background-color: black;
}

.cond > li:hover::after {
    transform: scaleX(1);
}

.banner-img {
    padding-top: 160px;
    width: 100%;
    height: 2770px;
    background-color: gray;
}