* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content {
    width: 500px;
    height: 150px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

p {
    color: white;
    font-size: 30px;
}

button {
    border: 2px solid black;
    background-color: inherit;
    padding: 5px 15px;
    border-radius: 7px;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
}