* {
  margin: 0;
  padding: 0;
  font-family: 견고딕;
}

li {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.back {
  width: 100%;
  display: flex;
  justify-content: center;
}

.head {
  margin-top: 10px;
  width: 1900px;
  height: 100px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  display: flex;
}

.logo {
  width: 20%;
  text-align: center;
  line-height: 100px;
  font-size: 50px;
}

.nav {
  width: 60%;
}

.nav > ul {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav > ul > li {
  width: 140px;
  text-align: center;
  line-height: 40px;
  border: 1px solid white;
  margin-left: 40px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.4s;
}

.nav > ul > li > a {
  font-size: 20px;
  cursor: pointer;
}

.nav > ul > li:hover {
  width: 180px;
  background-color: #efefef;
  color: black;
}

.btn {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn button {
  width: 80px;
  line-height: 30px;
  margin-left: 20px;
  border: none;
  border-radius: 20px;
  background-color: white;
  color: black;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
}

.btn button:hover {
  transform: scale(1.1);
}