* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

li {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrap {
  width: 100%;
}

.header {
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
  color: white;
}

.logo {
  width: 20%;
}

.nav {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
}

.menu > li {
  position: relative;
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.menu:hover .submenu {
  height: 160px;
}

.menu:hover .subbox {
  visibility: visible;
  height: 500px;
}

.submenu {
  position: absolute;
  height: 0;
  top: 65px;
  overflow: hidden;
}

.submenu > li {
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: lightblue;
  color: black;
  font-weight: bold;
}

.subbox {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 0;
  background-color: gray;
  z-index: -2;
  transition: 0.4s;
  visibility: hidden;
}

.login {
  width: 20%;
}